{% extends 'base.html' %} 

{% block title %} About | {% endblock title %} 

{% block body %}

<main style="margin-left: 50px">
  <br />
  <h2>About Us</h2>
  <br />
  <p>
    Wallpapers are for personal use only. <br />
    <br />
    Wallpapers is the best source of high-quality wallpapers and screen background images for your desktop, mobile phone or tablet. <br />
    <br />
    Wallpapers is dedicated to building the best wallpaper community online. With that in mind, we’d love to hear from our dear users and customers.
    <br />
    If you have any comments or suggestions on how we can improve our services, please leave us a message via our contact us page. <br />
    <br />
    We’d love to hear your feedback!
  </p>
</main>

{% endblock body %}
