<div class="sidebar close">
    <div class="logo-details">
        <i class="bx bx-menu"></i>
        <span class="logo_name">WALLPAPERs</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="/"><i class="bx bxs-home"></i><span class="link_name">Home</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="/">Home</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="javascript:void(0);" class="category-link">
                    <i class="bx bx-collection"></i>
                    <span class="link_name">Category</span>
                </a>
                <i class="bx bxs-chevron-down arrow category-link"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Category</a></li>
                <li><a href="{% url 'nature' %}">Nature</a></li>
                <li><a href="{% url 'space' %}">Space</a></li>
                <li><a href="{% url 'country' %}">Country</a></li>
                <li><a href="{% url 'animal' %}">Animals</a></li>
                <li><a href="{% url 'tajmahal' %}">Taj-Mahal</a></li>
                <li><a href="{% url 'car' %}">Cars</a></li>
                <li><a href="{% url 'flower' %}">Flowers</a></li>
                <li><a href="{% url 'windows' %}">Windows</a></li>
                <li><a href="{% url 'cartoon' %}">Cartoons</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url "mobile" %}"><i class="bx bx-mobile-alt"></i><span class="link_name">Mobile</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "mobile" %}">Mobile</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url "signup" %}"><i class="bx bx-user-plus"></i><span class="link_name">Signup</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "signup" %}">Sign Up</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url "login" %}"><i class="bx bxs-user"></i><span class="link_name">Signin</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "login" %}">Sign In</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url "about" %}"><i class="bx bx-group"></i><span class="link_name">About</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "about" %}">About</a></li>
            </ul>
        </li>
        <li>
            <a href="{% url "contact" %}"><i class="bx bx-phone"></i><span class="link_name">Contact</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "contact" %}">Contact</a></li>
            </ul>
        </li>
        <li>
            {% if request.user.is_authenticated %}
            <hr />
        </li>
        <li>
            <a href="/"><img class="img" src="/static/images/profile/profile.png" /></a>
            <h1 class="h1">{{request.user.username | capfirst}}</h1>
            <h1 class="h1">{{request.user.email}}</h1>
            <a href="{% url "logout" %}"><i class="bx bx-log-out"></i><span class="link_name">Signout</span></a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{% url "logout" %}">Sign Out</a></li>
            </ul>
        </li>
            {% endif %}
        <!--start footer-->
        <li>
            <div class="profile-details">
                <div class="profile-content"></div>
                <div class="name-job">
                    <div class="job">&copy; 2024 WALLPAPERs</div>
                </div>
            </div>
        </li>
        <!--end footer-->
    </ul>
</div>
<!-- From Here starts body section -->
<section class="home-section">
    <div class="home-content">
        <nav class="nav">
        {% if request.user.is_authenticated %} {% else %}
        <li class="h2 end-0 top-1 nav-item">
            <a href="{% url "login" %}" class="btn btn-blue-magenta border border-lavender text-white"> SIGN IN </a>
        </li>
        {% endif %}
        </nav>
    </div>
    <br/>
    <br/>
    <br/> 
