{% extends 'base.html' %} 

{% block title %} Search Result | {% endblock title %} 

{% block body %}

<h3 class="mt-5">Search Result:</h3>

<div class="container mt-5">
  <div class="row">
    {% for wallpaper in wallpaper %}
    <div class="col-sm-4">
      <div class="card mt-3 w-100">
        <a href="{% url 'wallpaper-detail' wallpaper.id %}" class="btn">
          <img src="{{wallpaper.wallpaper_image.url}}" class="card-img-top w-100 m-0" height="300px" />
        </a>
        <div class="card-footer">
          <div class="fw-bold">{{wallpaper.title}}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}
